@charset "utf-8";

/* common */
img {
  width: 100%;
}

.taC {
  text-align: center;
}

.taR {
  text-align: right;
}

.brown {
  color: #765A5A;
}

.light_brown {
  color: #9D8C8C;
}

.white {
  color: #fff;
}

.gray {
  color: #919191;
}

.green {
  color: #003447;
}
a {
  color: #fff;
}
p {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  line-height: 1.8;
  color: #fff;
}

p.thin {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* モリサワONにしたらON */
p.mori {
font-family: "翠流アトラス R", sans-serif;
font-size: 13px;
line-height: 1.8;
}
.mainIng p.mori {
  line-height: 2.3;
  }
.line {
  text-decoration: underline;
}

span.pink {
  color: #F739A6;
}
span.yellow {
  color: #FFE629;
}
span.l-blue {
  color: #00E3E3;
}
span.line {
  text-decoration-line: underline;
  text-decoration-color: #F739A6;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.3em;
  text-decoration-skip-ink: none;
  -webkit-text-decoration: underline #F739A6 1px;
  -webkit-text-underline-offset: 0.3em;
  -webkit-text-decoration-skip-ink: none;
}
span.marker {
  position: relative;
  text-decoration-line: underline;
  text-decoration-color: #f739a6b5;
  text-decoration-thickness: 18px;
  text-underline-offset: -1em;
  text-decoration-skip-ink: none;
  -webkit-text-decoration: underline #F739A6 18px;
  -webkit-text-underline-offset: -1em;
  -webkit-text-decoration-skip-ink: none;
}
h2 {
  position: relative;
  overflow: hidden;
}
h2 img {
  display: inline-block;
  position: relative;
  background-color: #100C53;
  padding-right: 10px;
}
h2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5px;
  top: 34%;
  background-color: #F739A6;
}
.button {
  font-weight: 500;
  font-size: 16px;
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}


.mw365 {
  max-width: calc(385px / 2);
}
.mw80 {
  max-width: calc(100px / 2);
}
.mw160 {
  max-width: calc(180px / 2);
}
.mw645 {
  max-width: calc(645px / 2);
}

.inner {
  padding: 0 25px;
}

.flexBox2 {
  display: flex;
  align-items: center;
}

.flexBox2 .box:nth-of-type(2) {
  margin-left: 4%;
}

.flexBox2 .box {
  width: 48%;
}

.flexBox2 .box.midashi {
  width: 19%;
}

.flexBox2 .box.text {
  width: 77%;
}

.content_main {
  padding-left: 30px;
}
.layoutRole_contents {
  padding-bottom: 50px;
}

/* main */
.layoutRole_contents {
  background-color: #100C53;
}

/* top */
.mainImg > .inner {
  margin-top: -27%;
}

.cover {
  background-color: #FFF4ED;
  padding-top: 60px;
}

.cover .inner {
  padding: 50px 25px;
}

/* info */
.info .flexBox2 {
  align-items: stretch;
}
.flexBox2 .box.midashi {
  width: 19%;
  background-color: #ffffff3b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexBox2 .box.text {
  width: 77%;
  align-items: center;
}
.flexBox2 .box.price {
  width: 100%;
  background-color: #ffffff3b;
  padding: 18px;
}

/* setring */
.setring {
  position: relative;
  padding: 50px 0;
  overflow: hidden;
  z-index: 1;
}

.setring::after {
  position: absolute;
  width: 94%;
  height: 78%;
  content: "";
  background-color: #FFF8F4;
  top: 0;
  right: 0;
  left: 0;
  margin: auto 0 auto auto;
  z-index: -1;
}

.box_left {
  position: relative;
  right: 5px;
}

.box_left p {
  width: 85%;
  margin: 0 0 0 auto;
}

.box_right {
  position: relative;
  left: 5px;
  margin: auto 0 auto auto;
}

.box_right p {
  width: 90%;
  margin: 0 auto 0 0;
}

/* engagement */
.engagementring .inner {
  padding: 0 30px;
}

.kagayaki .cover {
  background-color: #FAFAFA;
  border: 1px solid #B7B7B7;
  padding: 0;
}

.engagementring .kagayaki .inner {
  padding: 20px;
}

.kagayaki h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.kagayaki p {
  font-size: 11px;
}


/* other */

.other .inner {
  padding: 0 15px;
}
.other .box_right {
  width: 60%;
}
.other .box_left {
  width: 70%;
}

/* ordermadestory */
.slide1 li h4::before {
  position: absolute;
  bottom: -4px;
  left: 0;
  margin: auto;
  content: "";
  height: 27px;
  width: 27px;
  background-image: url(/bridal-catalog/img/01.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.n-02::before {
  background-image: url(/bridal-catalog/img/02.png) !important;
}

.n-03::before {
  background-image: url(/bridal-catalog/img/03.png) !important;
}



/* footer */
.footer p {
  font-size: 13px;
}


.logo {
  display: none;
}


@media screen and (min-width:750px) {
  .logo {
    display: block;
    position: fixed;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
    width: 20%;
    left: 15%;
  }

  #main {
    position: relative;
    background-color: #1e1e24;
  }

  .layoutRole {
    margin: auto;
    position: relative;
    padding: 0 calc(40% - 380px) 0 50%;
  }

  .layoutRole_contents {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  }

  .mw315 {
    max-width: none;
    width: 85%;
  }

  .mw322 {
    max-width: none;
    width: 85%;
  }

  p {
    font-size: 13px;
  }
  p.small {
    font-size: 12px;
  }
}


/*----------------------------
animation
----------------------------*/

.fadein {
  transition: 0.8s ease-in-out;
  opacity: 0;
}

.fadein.on {
  animation-name: fadeIn;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.delay.on {
  animation-delay: 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

/* OP */
.shutter {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #100C53;
  z-index: 99;
}
.shutter:not(.bye) {
  -webkit-animation: byeShutter 2.4s forwards;
  animation: byeShutter 2.4s forwards;
  animation-delay: 3.9s;
}
.shutter:not(.bye) .tobira {
  -webkit-animation: fadeIn 0.8s forwards, tobira 0.7s forwards;
  animation: fadeIn 0.8s forwards, tobira 0.7s forwards;
  animation-delay: 0s, 5.1s;
}
.shutter.bye-tobira .tobira {
  -webkit-animation: bye-tobira 0.7s forwards , fadeOut 0.7s forwards;
  animation: bye-tobira 0.7s forwards , fadeOut 0.7s forwards;
}

.tobira {
  position: absolute;
  width: 90%;
  max-width: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.bye {
  opacity: 0;
  z-index: -1;
}

@keyframes byeShutter {
  70% {
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes tobira {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: scale(0.9);
  }
}
@keyframes bye-tobira {
  100% {
    transform: scale(0.9);
  }
}
#bar {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.loading-bar {
  /* background: #FFF4ED; */
  height: 3px;
  position: relative;
}

.loading-bar::before {
  animation: width-0to100 5.4s linear forwards;
  background: #fff;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
}

@keyframes width-0to100 {
  0% {
    width: 0;
  }


  100% {
    width: 100%;
  }

}
